
services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres_for_scooters
    environment:
      POSTGRES_DB: scooter_rental_development
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  redis:
    image: redis:latest
    container_name: redis_for_scooters
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network

  redisinsight:
    image: redislabs/redisinsight:latest
    ports:
      - "5540:5540"
    volumes:
      - redisinsight_data:/db
    environment:
      - RI_ACCOUNT=docker
      - RI_PASSWORD=docker
      - RI_REDIS_HOST=redis
      - RI_REDIS_PORT=6379
      - RI_REDIS_NAME=Local Redis
    depends_on:
      - redis
    networks:
      - app-network

volumes:
  postgres_data:
  redis-data:
  redisinsight_data:

networks:
  app-network:
    driver: bridge