
services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres_for_scooters
    environment:
      POSTGRES_DB: scooter_rental_development
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - postgres-network

volumes:
  postgres_data:

networks:
  postgres-network:
    driver: bridge